/* CSS Reset */
/* Box sizing to avoid layout inconsistencies */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
figure,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default anchor text decoration */
a {
  text-decoration: none;
}

/* Set a default font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Reset form elements */
/* input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  appearance: none;
} */

/* Reset images */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* css reset */

a {
  text-decoration: none;
  border: black;
}

body {
  /* background-image: url("./assets/pexels-ekaterina-bolovtsova-6193091.jpg"); */
  background-color: #f2ead3;
  align-items: center;
  background-position: center;
  background-size: auto;
}

.container {
  background-color: #f2ead3;
  margin: 1.5% 1.5% 0% 1.5%;
  padding-bottom: 15%;
  border-radius: 1%;
}

.App {
  text-align: center;
  text-decoration: none;
}

/* Navbar  */
.homelink {
  padding-right: 1%;
}

.logoutlink {
  padding-left: 1%;
}

.navbarhome {
  width: 95%;
  padding: 0.5% 8% 0 0;
  display: flex;
  justify-content: flex-end;
}

.landing {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.landingfoot {
  margin-top: 10%;
}

.tasknotesnav {
  color: black;
  padding-right: 65%;
  font-size: 5vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.thatsthemotto {
  /* padding: 10% 0 0 0; */
  font-size: 7.5rem;
}

.thatsthemotto2 {
  font-size: 2rem;
  padding: 0 0 2% 0;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(40, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.homebox {
  display: flex;
  margin: 8% 0 0 0;
  justify-content: center;
  align-items: center;
}

/* login component */
.loggingin {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  padding-top: 5%;
  padding-bottom: 20%;
}

.loginbox {
  width: 40%;
  margin-left: 30%;
  margin-top: 5%;
}

.logininfo {
  padding-top: 10%;
}
.avatar {
  width: 100%;
  justify-content: center;
  padding-left: 35%;
  padding-top: 10%;
  padding-bottom: 5%;
}

/* .linktosignup {
  padding-top: 10%;
} */

/* Sign up page */

.signupbox {
  width: 40%;
  margin-left: 30%;
  margin-top: 5%;
}

.signupinfo {
  padding-top: 10%;
}

.signup {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  padding-top: 5%;
  padding-bottom: 20%;
  /* padding-left: 20%; */
}

/* dashboard */

/* .notebox {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
} */

.notesbox {
  position: relative;
}

.note {
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 10%;
  text-align: left;
}

.saveicon {
  position: absolute;
  bottom: 2%;
  right: 2%;
}

.editbox {
  position: relative;
}

.editbuttonnote {
  position: absolute;
  bottom: 2%;
  right: 2%;
}
.dashbox {
  margin-top: 3%;
  margin-left: 4%;
  display: flex;
  min-height: 70vh;
  width: 90vw;
}

.dashfoot {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
}

.dashfooter {
  margin-top: 5%;
}

.currtasks {
  width: 100%;
  margin-left: 8%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.currentTaskComponent {
  padding-bottom: 5%;
}

/* modal */
.inputtitle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.modalbutton {
  padding-top: 0.05rem;
  margin-left: 80%;
}

/* side nav component */
.sidenavbox {
  height: 100%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  width: 8%;
}

/* footer */
.icons {
  display: flex;
}

/* task components */

.taskbox {
  margin: 1.5% 1% 1%;
  min-width: 20vw;
  max-width: 20vw;
  min-height: 40vh;
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* border: 1px solid black; */
}

.taskbox::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.taskbox::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
}

.tasktitlebox {
  margin: 3% 5% 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tasktitle {
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 2%;
}

.toggle {
  display: none;
}

/* Styles for the expanded task titles */
.toggle:checked + .tasktitlebox .tasktitle {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
}

/* Optional transition for smooth animation */
.tasktitle {
  transition: all 0.3s ease;
}

.buttonsss {
  display: flex;
  flex-direction: row;
  padding-left: 1%;
}

.buttonscontainer {
  height: 90%;
  display: flex;
  flex-direction: row;
  margin-left: 15%;
}

/* Working on notes */
.notepad-input {
  border: none;
  background-color: #fff; /* Set a white background to resemble paper */
  width: 96%; /* Make the textarea fill its container */
  height: 100%;
  resize: none; /* Prevent users from resizing the textarea */
  animation: typingAnimation 2s steps(40) forwards; /* Apply the typing animation */
}

/* * {
  border: 1px solid black;
} */
